/* Fonts */

/* josefin-sans-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/josefin-sans-v26-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* alata-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/alata-v9-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }




/* Root */
:root{
    --primary-dark_color: #000;
    --primary-white_color: #ffffff;

    --font-full_page: 'Josefin Sans', sans-serif;
} 
  



*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    scroll-behavior: smooth;
    font-size: 62.5%;
}
ul,
ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: flex;
    object-fit: cover;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 3rem;

}
/* Header start css */
.header {
    height: 100%;
    background-image: url('../images/png/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
 .header_container {
    margin-top: 6.4rem;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 13rem;
}
.site-logo_box {

}
.site-logo_img {
    width: 19rem;
    height: 3rem;
}
.sitenav {
}
.sitenav-item {
    display: flex;
}
.sitenav-list:not(:last-child){
    margin-right: 3.2rem;
}
.sitenav-link {
    text-transform: capitalize;
    color: var(--primary-white_color);
    font-size: 1.5rem;
    font-family: 'Alata', sans-serif;
    line-height: 1.5;
}
.sitenav-link:hover{
    text-decoration: 2px underline;
}
.bars{
    display: none;
}
.bar{
    width: 2.5rem;
    height: 0.5rem;
    background: #FFF;  
}
.bar:not(:last-child){
    margin-bottom:  3px;
}
.hero {
   margin-bottom: 14rem;
}
.hero_title-box {
    border: 2px solid #FFF;
    /* width: 650px; */
    display: inline-block;
    padding: 4rem;
}
.hero-title {
    max-width: 571px;
    color: var(--primary-white_color);
    font-size: 7.2rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;
}

/* Header finish css */

/* Main start css */
.main{
    flex-grow: 1;
}
.section{
    margin-top: 16rem;
    margin-bottom: 15rem;
}
.main_interactive-part{
    display: flex;
    align-items: center;
}
.main-interactive-img{
    width: 75rem;
    height: 50rem;
    background-image: url('../images/png/hero-back-img.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.main-wrap_interactive{
    width: 54rem;
    height: 31rem;
    padding: 9.6rem;
    background-color: var(--primary-white_color);
    margin-left: -15rem;
    margin-top: 19rem;
}
.interactive-title{
    width: 44.5rem;
    color: var(--primary-dark_color);
    font-size: 4.8rem;
    font-family: var(--font-full_page);
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}
.interactive-text{
    width: 44.5rem;
    color: var(--primary-dark_color);
    font-size: 1.5rem;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    opacity: 0.4993722140789032;
}
.creations-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18rem;
    margin-bottom: 8rem;
}
.creations-title {
    color: var(--primary-dark_color);
    font-size: 4.8rem;
    font-family: var(--font-full_page);
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;
}
button{
    border: none;
    background: transparent;
}
.see-all_link{
    padding: 1.3rem 4.3rem 1.3rem 3.8rem;
    color: var(--primary-dark_color);
    font-size: 1.4rem;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    outline: none;
    border: none;
    border: 1px solid #000;

}
.see-all_link:hover{
    background-color: var(--primary-dark_color);
    color: var(--primary-white_color);
}
.creations-images_kolleksiya{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.deep-earth_img_box {
    background-image: url('../images/png/deep-erath.png');
}
.creations-imgs{
    position: relative;
    width: 25.6rem;
    height: 45rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 2.1rem;
    margin-bottom: 3rem;
}
.creations-imgs:hover{
    
}

.creation-text{
    position: absolute;
    left: 4rem;
    bottom: 3.2rem;
    max-width: 180px;
    color: var(--primary-white_color);
    font-size: 3.2rem;
    font-family: var(--font-full_page);
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;
}
.night_arcade-img_box {
    background-image: url('../images/png/night-arcade.png');
}
.soccer_team-img_box {
    background-image: url('../images/png/soccer-team.png');
}
.the_grid-img_box {
    background-image: url('../images/png/the-grid.png');
}
.from_above-img_box {
    background-image: url('../images/png/from-above.png');
}
.pocket_borealis-img_box {
    background-image: url('../images/png/pocket-borealis.png');
}
.the_curiosity-img_box {
    background-image: url('../images/png/the-curiosity.png');
}
.make_fisheye-img_box {
    background-image: url('../images/png/make-fisheye.png');
}
.creation-btn{
    display: none;
}

/* Main finish css */

/* Footer start css */
.footer{
    padding: 4.4rem 10rem;
    background-color: var(--primary-dark_color);
}
.footer_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo_img {
    width: 14.4rem;
    height: 2.4rem;
}
.footer-item {
    display: flex;
    align-items: center;
}
.footer-list{
    margin-top: 2.4rem;
}
.footer-list:not(:last-child){
    margin-right: 3.2rem;
}
.footer-link {
    color: var(--primary-white_color);
    font-size: 1.5rem;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
.footer-link:hover{
    text-decoration: 2px underline;
}
.footer-right_part {
    
}
.footer-icons_box {
    justify-content: end;
    display: flex;
    align-items: center;
    margin-bottom: 2.4rem;
}
.footer-icon:not(:last-child){
    margin-right: 1.6rem;
}
.footer-icon:hover{
    cursor: pointer;
}
.footer-end_link {
    color: var(--primary-white_color);
    font-size: 1.5rem;
    font-family: 'Alata';
    font-weight: 400;
    line-height: 1.5;
    opacity: 0.5;
}




/* Footer finish css */



/* Media */


@media (max-width: 720px){
    
    .sitenav{
        display: none;
    }

    .bars{
        display: block;
    }

    .hero-title{
        padding: 2rem;
        font-size: 5.5rem;
        line-height: 1;
    }
}

@media (max-width: 1300px){
     .site-logo_img{
        margin-left: 5rem;
    }
    .hero{
        margin-left: 5rem;
    }
}
@media (max-width: 620px)
{
    .hero_title-box{
        padding: 1.5rem;
    }
}
@media (max-width: 595px){
    .hero_title-box{
        padding: 1.5rem;
    }
}
@media (max-width: 560px)
{
    .hero-title{
        font-size: 4rem;
        padding: 1rem;
    }
    .site-logo_img{
        margin-left: 1.5rem;
    }
    .hero{
        margin-left: 1.5rem;
    }
}
@media (max-width: 420px){
    .hero_title-box{
        padding-right: 7rem;
    }
    .hero-title{
        max-width: 200px;
        font-size: 3.5rem;
    }
    .bars{
        margin-right: 1rem;
    }
}
@media (max-width: 1210px){
    .main_interactive-part{
        flex-direction: column;
    }
    
    .main-wrap_interactive{
       
    }
    .interactive-title{
        text-align: center;
        margin-top: -20rem;
    }
    .interactive-text{
        text-align: center;
        line-height: 1.5;
    }
    
}
@media (max-width: 850px){
    .main-interactive-img{
        margin-top: -9rem;
        width: 70rem;
        height: 40rem;
    }
}
@media (max-width: 750px){
    .main-interactive-img{
        margin-top: -9rem;
        width: 60rem;
        height: 40rem;
    }
}
@media (max-width: 620px){
    .main-interactive-img{
        margin-top: -9rem;
        width: 50rem;
        height: 30rem;
    }
    .interactive-title{
        width: 300px;
        font-size: 3rem;
        text-align: center;
        margin-left: 10rem;
    }
    .interactive-text{
        text-align: center;
        line-height: 1.5;
        width: 300px;
        margin-left: 10rem;
    }
}
@media (max-width: 530px){
    .main-interactive-img{
        margin-top: -9rem;
        width: 40rem;
        height: 30rem;
    }
}
@media (max-width: 420px){
    .main-interactive-img{
        margin-top: -9rem;
        width: 35rem;
        height: 25rem;
    }
}
@media (max-width: 1170px){
    .see-all_link{
        margin-right: 5rem;
    }
    .creations-images_kolleksiya{
        justify-content: center;
    }
    .creations-info{
        margin-top: -10rem;
    }
}
@media (max-width: 800px){
    .see-all_link{
        display: none;
    }
    .creation-btn{
        display: block;
        margin-left: 20rem;
    }
    .creations-title{
        text-align: center;
        margin-left: 10rem;
    }
    .creations-images_kolleksiya{
        justify-content: center;
    }
}
@media (max-width: 800px){
    .creations-images_kolleksiya{
        flex-direction: column;
    }
    .creations-imgs{
        width: 50rem;
        height: 25rem;
    }
}
@media (max-width: 600px){
    .creation-btn{
        margin-left: 10rem;
    }
}
@media (max-width: 600px){
    .creations-title{
        font-size: 4rem;
        margin-left: 3rem;
    }
    .creations-imgs{
        width: 40rem;
        height: 20rem;
    }
}
@media (max-width: 440px){
    .creations-imgs{
        width: 38rem;
        height: 20rem;
    }
    .creations-title{
        margin-left: 1rem;
    }
}
@media (max-width: 420px){
    .creations-imgs{
        width: 35rem;
        height: 20rem;
    }
    .creations-title{
        font-size: 3.5rem;
        margin-left: 3rem;
    }
}
@media (max-width: 950px){
    .footer{
        flex-wrap: wrap;
    }
    .footer-container{
        flex-wrap: wrap;
    }
    .footer-link{
        text-align: center;
        flex-direction: column;
    }
}